<div id="partners_home_18">
	<div class="container">
		<div class="row">
      <div class="row partners-row">
        <%= image_tag "homepage/partners/logo_haut_1.png" %>
        <%= image_tag "homepage/partners/logo_haut_2.png" %>
        <%= image_tag "homepage/partners/logo_haut_3.png" %>
        <%= image_tag "homepage/partners/logo_haut_4.png" %>
      </div>
      <div class="row partners-row">
        <%= image_tag "homepage/partners/logo_bas_1.jpg" %>
        <%= image_tag "homepage/partners/logo_bas_2.jpg" %>
        <%= image_tag "homepage/partners/logo_bas_3.png" %>
        <%= image_tag "homepage/partners/logo_bas_4.png" %>
      </div>
		</div>
	</div>
</div>
