<div id="partners_home_18">
	<div class="container">
		<div class="row">
      <div class="row partners-row">
        
      <a href="https://group.bnpparibas/en/" target="_blank">
        <%= image_tag "homepage/partners/logo_haut_1.png" %></a>
      <a href="https://cms.law/en/INT/" target="_blank">
        <%= image_tag "homepage/partners/logo_haut_2.png" %></a>
      <a href="https://www.parisaeroport.fr/en/homepage-group" target="_blank">
        <%= image_tag "homepage/partners/logo_haut_3.png" %></a>
      <a href="https://www.sncf-developpement.fr/" target="_blank">
        <%= image_tag "homepage/partners/logo_haut_4.png" %></a>
      </div>
      <div class="row partners-row">
      <a href="https://www.sncf-developpement.fr/" target="_blank">
        <%= image_tag "homepage/partners/logo_bas_1.jpg" %></a>
      <a href="https://vivatechnology.com/" target="_blank">
        <%= image_tag "homepage/partners/logo_bas_2.jpg" %></a>
      <a href="https://www.entreprisedufutur.com/visiativ/easysite/edfutur" target="_blank">
        <%= image_tag "homepage/partners/logo_bas_3.png" %></a>
      <a href="http://www.g20-management-summit.com/" target="_blank">
        <%= image_tag "homepage/partners/logo_bas_4.png" %></a>
      </div>
		</div>
	</div>
</div>
