
<div id="selling-points">
	<h2>
		GROW YOUR BUSINESS WITH US
	</h2>
	<div class="container">
		<div class="row text-center selling-points-wrapper">
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/Community_.png" %>
				<h3>
					A PEER COMMUNITY
				</h3>
				<p>
					Get support from other entrepreneurs <br>
					in our Exclusive Slack
				</p>
			</div>
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/International-Contact_.png" %>
				<h3>
					INTERNATIONAL CONTACTS
				</h3>
				<p>
					Find Business Partners, Experts and <br>
					any other Company
					in your Target Market
				</p>
			</div>
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/Experts_.png" %>
				<h3>
					MARKET INTELLIGENCE
				</h3>
				<p>
					Interviews of Entrepreneurs,
					Expert Content <br> and Webinars to help
					you Grow your Business
				</p>
			</div>
			<div class="col-xs-12 placeholder_selling_points hidden-xs"></div>
			<div class="selling-point col-xs-12 col-md-4 col-md-offset-2">
				<%= image_tag "18/Events_.png" %>
				<h3>
					MEET & START UP!
				</h3>
				<p>
					Meet other Entrepreneurs
					at a Networking  <br>Event   or
					for a Learning Expedition abroad
				</p>
			</div>
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/More-to-Come_.png" %>
				<h3>
					AND MUCH MORE <br> TO COME!
				</h3>
			</div>
		</div>
	</div>
	<%= link_to "APPLY NOW", '', class: "btn btn-orange18-orange", data: { toggle: :modal, target: '#professional-status-selector-modal' } %>
</div>
