
<div id="selling-points">
	<h2>
		GROW YOUR BUSINESS WITH US
	</h2>
	<div class="container">
		<div class="row text-center selling-points-wrapper">
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/Community_.png" %>
				<h3>
					A DIGITAL COMMUNITY
				</h3>
				<p>
					Get support from other Entrepreneurs <br>
					within our Community
				</p>
			</div>
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/International-Contact_.png" %>
				<h3>
					TAILOR MADE CONTACTS
				</h3>
				<p>
					Find Key Contacts in your Target Market <br> thanks to our Dedicated Team & our Growing Community
				</p>
			</div>
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/worldwide.png" %>
				<h3>
					ENTER NEW MARKETS
				</h3>
				<p>
					Participate in our Immersion Program in <br> the FRENCH, UK, USA or GERMAN Ecosystem
				</p>
			</div>
			<div class="col-xs-12 placeholder_selling_points hidden-xs"></div>
			<div class="selling-point col-xs-12 col-md-4 col-md-offset-2">
				<%= image_tag "18/Events_.png" %>
				<h3>
					MEET & START UP!
				</h3>
				<p>
					Meet like-minded Entrepreneurs on the Beeleev platform,<br>
					at a Networking Event or on a Learning Expedition abroad
				</p>
			</div>
			<div class="selling-point col-xs-12 col-md-4">
				<%= image_tag "18/Experts_.png" %>
				<h3>
					MARKET EXPERTISE
				</h3>
				<p>
					We interview Entrepreneurs, publish Expert Content & Showcase your Brand to Help you Grow your Business
				</p>
			</div>
		</div>
	</div>
	<div class="margin-top-30">
	<%= link_to "APPLY NOW", '', class: "btn btn-orange18-orange", data: { toggle: :modal, target: '#professional-status-selector-modal' } %>
	</div>
</div>
