<div class="col-xs-12">
  <div class="news-form">

    <div class="col-xs-12">
      <div class="overtitle-date">
        <div class="lign-center">
        </div>
        <div class="title-wrapper">
          <h3>
            <%= ad.created_at.strftime("%d-%m-%Y") %>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 img_side">
      <%= cl_image_tag ad.illustration.full_public_id,
        fetch_format: :auto,
        width: 555,
        crop: :fill,
        quality: 80,
        class: 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 text-side">
      <h3>
        <%= "[#{ad.ad_type}]: #{ad.title}" %>
      </h3>
      <h3 class="subtitle">
        <%= link_to ad.ad_link, ad.ad_link, target: "_blank" %>
      </h3>
      <p>
        <%= ad.ad_content %>
      </p>
      <% if current_user == ad.user %>
        <div class="ad-actions">
          <%= button_to 'Delete', "/ads/delete/#{ad.id}", method: :delete,
                        class: "btn btn-orange18-orange" %>
          <%= link_to "Edit", "/ads/edit/#{ad.id}", class: "btn btn-orange18-orange" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
