<div class="col-xs-12">
  <div class="news-form">

    <div class="col-xs-12">
      <div class="overtitle-date">
        <div class="lign-center">
        </div>
        <div class="title-wrapper">
          <h3>
            <%= ad.created_at.strftime("%m-%d-%Y") %>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 img_side">
      <%= cl_image_tag ad.illustration.full_public_id,
        fetch_format: :auto,
        width: 555,
        crop: :fill,
        quality: 80,
        class: 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 text-side">
      <h3>
        <%= "[#{ad.ad_type}]: #{ad.title}" %>
      </h3>
      <h3 class="subtitle">
        <%= link_to ad.ad_link, ad.ad_link,
                    target: "_blank",
                    "onclick": "handleClick(#{ad.id})"
        %>
      </h3>
      <p class="post-content">
        <%= ad.ad_content %>
      </p>
      <div class="profile-avatar avatar-ad">
        <% if ad.user.avatar? %>
          <%= cl_image_tag ad.user.avatar, transformation: [
              {width: 400, height: 400, gravity: :face, radius: :max, crop: :fill},
              {width: 200, crop: :scale}] %>
        <% else %>
          <%= image_tag ad.user.avatar_url, class: "img-responsive" %>
        <% end %>
        <br/>
        <%= link_to "#{ad.user.first_name} #{ad.user.last_name}", user_path(id: ad.user.id), class: "btn btn-orange18-orange" %>
      </div>
      <% if current_user == ad.user %>
        <div class="ad-actions">
          <%= button_to 'Delete', ad_delete_path(id: ad.id), method: :delete,
                        class: "btn btn-orange18-orange" %>
          <%= link_to "Edit", ad_edit_path(id: ad.id),
                      class: "btn btn-orange18-orange" %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<script>
function handleClick(id){
	$.post("/ads/click", {id: id}, function(){});
}
</script>
