<div class="container">
  <div class="row" id="news">

    <div class="col-xs-12">
      <h1>
        <%= @header_text || "LATEST ADS" %>
      </h1>
      <h2 class="text-center">
        All the recruitment / fundings ad from the community
      </h2>
      <ul id="ad_type_menu" <%= "class=hidden" unless @ad_type %>>
        <li <%= "class=active" if @ad_type == "all" %>>
          <%= link_to "All", "/ads" %>
        </li>
        <li <%= "class=active" if @ad_type == "recruitment" %>>
          <%= link_to "Recruitments", "/ads/recruitment" %>
        </li>
        <li <%= "class=active" if @ad_type == "funding" %>>
          <%= link_to "Fundings", "/ads/funding" %>
        </li>
      </ul>
    </div>
    <% @ads.each do |ad| %>
      <%= render partial: "ads/ad_row", locals: { ad: ad } %>
    <% end %>

  </div>
</div>


<% content_for :meta_title, "Community Ads" %>
<% content_for :meta_description, "All the recruitment / fundings ad from the community" %>
