<div id="profile_18_core" class="margin-top-62">
	<div class="container">
	  <div class="row">

	    <div class="col-xs-12 col-sm-3">
				<div class="left-wrapper">
					<div class="profile-avatar">
						<% if @user.avatar? %>
							<%= cl_image_tag @user.avatar, transformation: [
								  {width: 400, height: 400, gravity: :face, radius: :max, crop: :fill},
								  {width: 200, crop: :scale}] %>
						<% else %>
							<%= image_tag @user.avatar_url, class: "img-responsive" %>
						<% end %>
					</div>

					<% if current_user == @user || current_user.decorate.network.include?(@user) %>
					<!-- only for  me of my network -->
					<div class="some-icons">
						<% if @user.facebook_username.present? %>
							<%= link_to "https://www.facebook.com/#{@user.facebook_username}", target: "_blank" do %>
								<i class="fa fa-2x fa-facebook-square facebook-color" aria-hidden="true"></i>
							<% end %>
						<% end %>

						<% if @user.twitter_account.present? %>
							<%= link_to "https://www.twitter.com/#{@user.twitter_account}", target: "_blank" do %>
								<i class="fa fa-2x fa-twitter-square twitter-color" aria-hidden="true"></i>
							<% end %>
						<% end %>

						<% if @user.provider_public_profile_url.present? %>
							<%= link_to @user.provider_public_profile_url, target: "_blank" do %>
								<i class="fa fa-2x fa-linkedin-square linkedin-color" aria-hidden="true"></i>
							<% end %>
						<% end %>

					</div>
					<% end %>

				</div>
	    </div>

	    <div class="col-xs-12 col-sm-6">
	    	<div class="center-wrapper">
	    		<h1><%= @user.full_capitalized_name %></h1>
	    		<div class="bold-item">
	    			<%= @user.position_at_company if @user.position %>
	    		</div>
	    		<div class="item">
	    			<%= (@user.city + ", ") if @user.city.present?%>
	    			<%= @user.country if @user.country.present?%>
	    			<% unless @user.nationalite.blank? %>
	    			<%= "- " + @user.nationalite %>
	    			<% end %>
	    		</div>

	    		<% if current_user == @user || current_user.connected_user_ids.include?(@user.id) %>
	    		<!-- only for  me of my network -->
	    		<% unless @user.cellphone.nil? %>
		    		<div class="item">
		    			<%= @user.cellphone %>
		    		</div>
	    		<% end %>
	    		<div class="item">
	    			<%= @user.email %>
	    		</div>
	    	<% end %>
	    	</div>

	    		<div class="tags-wrapper">
		    		<div class="tag-title">
	    				CAN HELP WITH:
		    		</div>
		    			<div class="tags">
		    			<% @user.expertises.each do |i| %>
			    			<div class="tag">
			    				<%= i %>
			    			</div>
		    			<% end %>
		    			</div>

				    <% if @user == current_user %>
				    <br>
		    		<div class="tag-title">
	    				TARGETED COUNTRIES:
		    		</div>
		    				<div class="tags">
		    				<% @user.international_activity_countries.each do |i| %>
				    			<span class="tag">
				    				<%= i %>
				    			</span>
		    				<% end %>
		    				</div>
	  				<% end %>
  				</div>

	    </div>

	    <% if @user == current_user %>
		    <div class="col-xs-12 col-sm-3">
		    	<div class="right-wrapper">
		    		<%= link_to "EDIT PROFILE", edit_account_path(@user), class: "edit-button" %>
		    	</div>
		    </div>
	    <% elsif current_user.profil == "Expert" %>
	    <% elsif current_user.decorate.network.exclude? @user %>
	    	<div class="col-xs-12 col-sm-3">
		    	<div class="right-wrapper">
		    		<%= link_to "CONNECT", new_connection_demand_path(user2_id: @user.id),
		    															data: { toggle: 'modal', target: '#ajaxModal' },
		    															class: "support-button-orange" %>
		    	</div>
		    </div>
    	<% else %>
	    <% end %>

	  </div>
	</div>
</div>
