<!-- class="below-nav" -->
<%= render partial: "home/home18/banner" %>
<div class="placeholder1"></div>
<%= render partial: "home/home18/custom_header", locals: {text: "Your success is our success"} %>
<%= render partial: "home/home18/testimonials" %>
<%= render partial: "home/home18/custom_header", locals: {text: "How we can help you"} %>
<%= render partial: "home/home18/services" %>
<%= render partial: "home/home18/custom_header", locals: {text: "Last news"} %>
<%= render partial: "home/home18/news" %>
<%= render partial: "home/home18/custom_header", locals: {text: "Our partners"} %>
<%= render partial: "home/home18/partners" %>
<%= render partial: "home/home18/mailchimp_form" %>
<!-- <div class="placeholder2"></div> -->

<!-- <div class="placeholder3"></div> -->