<style>

.service_divider{
min-height:40px;
}

.service_title {
color:#FFA500;
font-family:lato,helvetica neue,helvetica,arial,sans-serif;
max-width: 1200px;
margin:auto; 
padding:0; 
text-align:center; 
position:relative;
box-shadow:0 16px 0 0 #fff inset, 0 18px 0 0 #f8a700 inset}

.service_title span {
background-color:#fff; 
padding:0 10px}

.service_container {
width:100%;
padding-bottom:10px;
text-align:center}

.service_img {
padding:10px; 
margin:0 10px; 
max-width:160px; 
display:inline-block; 
vertical-align:middle; 
text-align:justify}

.service_img img {
width:160px;
height:160px;
}

.service_desc {
text-align: justify; 
color:#808080; 
font-family:lato,helvetica neue,helvetica,arial,sans-serif; 
font-size:16px; 
line-height:30px; 
padding:30px;
margin:0 10px; 
max-width:800px; 
display:inline-block; 
vertical-align:middle}

.end_services {
clear:both}

.service_sub {
text-align:center}

.service_sub a {
font-family:lato,helvetica neue,helvetica,arial,sans-serif;
text-decoration: none; 
color: white; 
background-color: #0074ff; 
font-size: 16px; 
font-weight: bold; 
padding: 1% 1%; 
display: inline-block; 
max-width: 300px; 
text-align: center; 
border-radius: 7%; 
margin-bottom: 30px}

</style>
<!--<span style="text-align:center">
	<h2 style="color:#FFA500; font-family:lato,helvetica neue,helvetica,arial,sans-serif">A DIGITAL COMMUNITY OF 3, 500 ENTREPRENEURS</h2>
</span>-->
<h1>Join the Community and benefit fom all these services !</h1>
<div class="end_services"></div>
<div class="service_sub">
	<% if user_signed_in? && current_user.status != 'activation_pending' %>
          <%= link_to "TO COMMUNITY", network_path, class: "btn btn-orange18-orange" %>
        <% elsif user_signed_in? %>
        <% else %>
          <%= link_to "APPLY NOW", '#', class: "btn btn-orange18-orange", data: { toggle: :modal, target: '#professional-status-selector-modal' } %>
        <% end %>
</div>
<div class="service_divider"></div>
<h2 class="service_title">
	<span>A DIGITAL COMMUNITY OF 5,000 ENTREPRENEURS</span></h2>
<div class="service_container">
	<div class="service_img">
		<%= image_tag "services/Icon7.png" %>
	</div>
	<div class="service_desc">
		<p><strong> Where do you want to start business abroad? What are you most concerned about? </strong><br/>
		Access our network of skilled startup professionals to overcome challenges, share experiences, strategize your expansion, hire professionals and find investors.<br/> 
 	 	We connect more than 5,000 entrepreneurs in over 150 countries through a modern digital platform and customized services. More than 90% of our subscribers are CEOs.<br/>
 	 	With headquarters in Paris and local ambassadors in London, New York and Munich, three of the most dynamic business cities in the world, we help you speed the process and build confidence along the way.</p>
	</div>
</div>
<div class="end_services"></div>
<!--<div class="service_sub">
<a data-target="#professional-status-selector-modal" data-toggle="modal" href="">SUBSCRIBE</a>
</div>-->



<!--<span style="text-align:center">
	<h2 style="color:#FFA500; font-family:lato,helvetica neue,helvetica,arial,sans-serif">BENEFIT FROM A TAILORMADE CONTACT SERVICE</h2>
</span>-->
<div class="service_divider"></div>
<h2 class="service_title">
	<span>BENEFIT FROM A TAILORMADE CONTACT SERVICE</span></h2>
<div class="service_container">
	<div class="service_desc">
		<p><strong>A follow-up team assure all demands are correctly answered!</strong><br/>
		If you do not address your connection need through our digital platform, our team is ready to listen and to put you in contact with professionals rigorously selected within an international network of 30,000 CEOs.<br/>
		The tailormade service is charged only when our members are put in relation with their requested contact and are satisfied.</p>
	</div>
	<div class="service_img">
		<%= image_tag "services/Icon4.png" %>
	</div>
</div>
<!--<div class="end_services"></div>
<div class="service_sub">
<a data-target="#professional-status-selector-modal" data-toggle="modal" href="">SUBSCRIBE</a>
</div>-->
<!--<div style="border-top:2px solid #f8a700 ; width: 75%; padding-bottom:30px; margin:auto"></div>-->




<!--<span style="text-align:center">
	<h2 style="color:#FFA500; font-family:lato,helvetica neue,helvetica,arial,sans-serif">BUILD YOUR TEAM INSIDE THE PLATFORM</h2>
</span>-->
<div class="service_divider"></div>
<h2 class="service_title">
	<span>BUILD YOUR TEAM INSIDE THE PLATFORM</span></h2>
<div class="service_container">
	<div class="service_img">
		<%= image_tag "services/Icon2.png" %>
	</div>
	<div class="service_desc">
		<p><strong>Do you need a country manager in China? Or a web-designer in India? Take advantage of our plural network!</strong><br/>
		We are all driven by the same passion for entrepreneurship and people. Mobilize our network to recruit talents among an experienced and qualified community. Grow your team with us to add diversity to the team.<br/> 
		We offer a simple and intuitive platform to connect companies to employees locally but also in different countries.</p>
	</div>
</div>
<!--<div class="end_services"></div>
<div class="service_sub">
<a data-target="#professional-status-selector-modal" data-toggle="modal" href="">SUBSCRIBE</a>
</div>-->




<!--<span style="text-align:center">
	<h2 style="color:#FFA500; font-family:lato,helvetica neue,helvetica,arial,sans-serif">RAISE MONEY FROM THE COMMUNITY</h2>
</span>-->
<div class="service_divider"></div>
<h2 class="service_title">
	<span>RAISE MONEY FROM THE COMMUNITY</span></h2>
<div class="service_container">
	<div class="service_desc">
		<p><strong>Mobilize your peers to spread the word of mouth about a fundraising campaign!</strong><br/>
		Companies can create profiles and share expansion plans and investment needs with individual investors or private equity firms.<br/>
		Moreover, investors can access documents, consult business plans and start discussions through a secure platform with verified profiles.  Discussions can be intermediated by our always attentive team.</p>
	</div>
	<div class="service_img">
		<%= image_tag "services/Icon6.png" %>
	</div>
</div>
<!--<div class="end_services"></div>
<div class="service_sub">
<a data-target="#professional-status-selector-modal" data-toggle="modal" href="">SUBSCRIBE</a>
</div>-->




<!--<span style="text-align:center">
	<h2 style="color:#FFA500; font-family:lato,helvetica neue,helvetica,arial,sans-serif">MEET & START UP!</h2>
</span>-->
<div class="service_divider"></div>
<h2 class="service_title">
	<span>MEET & START UP!</span></h2>
<div class="service_container">
	<div class="service_img">
		<%= image_tag "services/Icon3.png" %>
	</div>
	<div class="service_desc">
		<p><strong>We help our partners to organize events, offering communication support to reach a specialized and diverse audience!</strong><br/>
		Your only concern is to have a good pitch at the tip of the tongue!<br/>
		At least two conferences or breakfast-talks are set up every month, reaching a decision-maker audience always made of entrepreneurs and business leaders.</p>
	</div>
</div>
<!--<div class="end_services"></div>
<div class="service_sub">
<a data-target="#professional-status-selector-modal" data-toggle="modal" href="">SUBSCRIBE</a>
</div>-->



<!--<span style="text-align:center">
	<h2 style="color:#FFA500; font-family:lato,helvetica neue,helvetica,arial,sans-serif">DISCOVER AND ENTER NEW MARKETS</h2>
</span>-->
<div class="service_divider"></div>
<h2 class="service_title">
	<span>DISCOVER AND ENTER NEW MARKETS</span></h2>
<div class="service_container">
	<div class="service_desc">
		<p><strong>We organize business travels for entrepreneurs abroad!</strong><br/> 
		We connect clients with business owners, directors and managers, as well as investment funds. Our program includes visits to incubators and coworking spaces.<br/> 
		We also set up immersion business programs in the French, British, American and German markets for up to a month. Our local ambassadors help us to provide all the support for a smooth and accretive experience.</p>
	</div>
	<div class="service_img">
		<%= image_tag "services/Icon5.png" %>
	</div>
</div>
<!--<div class="end_services"></div>
<div class="service_sub">
<a data-target="#professional-status-selector-modal" data-toggle="modal" href="">SUBSCRIBE</a>
</div>-->



<!--<span style="text-align:center">
	<h2 style="color:#FFA500; font-family:lato,helvetica neue,helvetica,arial,sans-serif">LEARN FROM OUR MARKET EXPERTISE</h2>
</span>-->
<div class="service_divider"></div>
<h2 class="service_title">
	<span>LEARN FROM OUR MARKET EXPERTISE</span></h2>
<div class="service_container">
	<div class="service_img">
		<%= image_tag "services/Icon1.png" %>
	</div>
	<div class="service_desc">
		<p><strong>Our communication platform offers more than 150 exclusive interviews, testimonials, expert articles and country guides!</strong><br/>
		New engaging content is added every week to inspire your team, offer new business perspectives, enhance your knowledge about new markets.<br/>
		We believe that transparency is important to build credibility and make a brand grow. That&#145;s why we shorten the way between your business and the media, offering the visibility that your idea deserves.</p>
	</div>
</div>
<!--<div class="end_services"></div>
<div class="service_sub">
<a data-target="#professional-status-selector-modal" data-toggle="modal" href="">SUBSCRIBE</a>
</div>-->



<!--<div style="text-align:center; width: 100%; height: 3px; background-color: #f5a623; text-align: center; margin: 5% 0; margin-bottom: 5%; margin-bottom: 100px"> <h2 style="font-family:lato,helvetica neue,helvetica,arial,sans-serif; background-color: white; color: #f5a623; display: inline-block; margin-top: -2%; padding: 0 3%; position: relative; bottom: 80%; font-size: 2.3em">TEST</h2></div>-->