<div id="team_18">

    <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="caption">Beeleev HQ Team</div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 text-center">
          <%=  render "home/team/hugues_18"  %>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <%=  render "home/team/hicham_18" %>
        </div>

        <div class="col-xs-12 col-sm-4 text-center">
          <%=  render "home/team/cyril" %>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <%=  render "home/team/juliette" %>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <%=  render "home/team/syrah" %>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-4 text-center">
          <%=  render "home/team/wandrille_18"  %>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <%=  render "home/team/arnaud_18" %>
        </div>
      </div>
    </div>
  </div>

  <div class="top-wrapper">

        <h1>To grow your business is a challenge</h1>

        <h2 class="text-center">
          We felt the time had come to help Entrepreneurs reach International Success Online,
          <br>
          enabling them to build their Go-To-Market Strategy within a Trusted Community
        </h2>

        <div class="bullet-points">
          <h3><span class='highlight'>Support from the Community</span> wherever you are</h3>
          <h3><span class='highlight'>All the Expertise</span> required to understand your Target Market</h3>
          <h3><span class='highlight'>Meet-Ups & Expeditions</span> to build meaningful relations</h3>
        </div>

        <h3 class="last-wrapper">
          <div class="last-over-title">
            Grow Your Business Faster With a Trusted Hand,
          </div>
          <div class="last-title">
            <span class='highlight uppercase'>join a global community of successful entrepreneurs!</span>
          </div>
        </h3>
        <% if user_signed_in? && current_user.status != 'activation_pending' %>
          <%= link_to "TO COMMUNITY", network_path, class: "btn btn-orange18-orange" %>
        <% elsif user_signed_in? %>
        <% else %>
          <%= link_to "APPLY NOW", '#', class: "btn btn-orange18-orange", data: { toggle: :modal, target: '#professional-status-selector-modal' } %>
        <% end %>

  </div>

</div>

<% content_for :meta_title, "About Us" %>
<% content_for :meta_description, "Growing your business is a challenge. Find International Contacts, Expert Content & Networking Events to help you become a successful entrepreneur!" %>
