<div id="signup_18">
  <div class="container-fluid">
    <h2>Update your package</h1>

    <% if @professional_status == 'entrepreneur' %>
      <div class="packs">
        <div class="packs__list">
          <div class="pack">
            <div class="pack__head">
              Premium
            </div>

            <div class="pack__body">
              <div class="pack__description">
                <strong>All free advantages, plus:</strong><br>
                Unlimited Connection Requests<sup>*</sup><br>
                Community Slack Membership<br>
                Access all our Content<br>
                Your interview published on our Media<br>
                4 Direct Request Credits<sup>**</sup><br>
                Special Rates on our Learning Expeditions
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  <strong>Launching Offer</strong><br>
                  <strong>$<%= Pack.premium(user: current_user).price %> Yearly</strong> <del>$<%= Pack.premium(user: current_user).deleted_price %> Yearly</del>
                </div>
                <%= link_to 'SELECT', edit_pack_path(pack: :premium), class: 'btn btn-orange18-orange' %>
              </div>
            </div>
          </div>

          <div class="pack">
            <div class="pack__head">
              Plus
            </div>

            <div class="pack__body">
              <div class="pack__description">
                <strong>All free advantages, plus:</strong><br>
                Unlimited Connection Requests<sup>*</sup><br>
                Community Slack Membership<br>
                Access all our Content<br>
                Your interview published on our Media<br>
                4 Direct Request Credits**<br>
                Special Rates on our Learning Expeditions<br>
                Free Invites to all our Events<sup>***</sup>
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  <strong>Launching Offer</strong><br>
                  <strong>$<%= Pack.plus(user: current_user).price %> Yearly</strong> <del>$<%= Pack.plus(user: current_user).deleted_price %> Yearly</del>
                </div>
                <%= link_to 'SELECT', edit_pack_path(pack: :plus), class: 'btn btn-orange18-orange' %>
              </div>
            </div>
          </div>
        </div>

        <p class="packs__additional-information">
          <sup>*</sup>You can browse through our entire community of entrepreneurs to connect with anyone of them. After the other party has accepted your request, you will obtain each other's coordinates to start communicating.<br>
          <br>
          <sup>**</sup>Looking for a specific Entrepreneur or CEO to contact? Don't have the time to browse the net? With you free Direct Request Credits, you can have us do a tailored search of any Key Partner you want, and put you in contact with them.<br>
          Credit System: 1&nbsp;Entrepreneur&nbsp;=&nbsp;1&nbsp;Credit, 1&nbsp;Expert&nbsp;=&nbsp;2&nbsp;Credits, 1&nbsp;Key&nbsp;Account&nbsp;=&nbsp;4&nbsp;Credits<br>
          <br>
          <sup>***</sup>25 events per year: 4 networking events in the evening and 21 breakfast events; all in Paris and France actually.
        </p>
      </div>
    <% else %>
      <div class="packs">
        <div class="pack pack--centered">
          <div class="pack__head">
            Expert pack
          </div>

          <div class="pack__body">
            <div class="pack__description">
              Your logo on our Partners Page<br>
              Feature as an expert in the community<br>
              Your interview, published on all our Media<br>
              Share 1 Technical Content<br>
              Helping you organize one breakfast event<sup>*</sup><br>
              Free invites to all our Events
            </div>
          </div>

          <div class="pack__selector">
            <div class="pack__price">
              <strong>Launching Offer</strong><br>
              <strong>$<%= Pack.expert(user: current_user).price %> Yearly</strong> <del>$<%= Pack.expert(user: current_user).deleted_price %> Yearly</del>
            </div>
            <%= link_to 'SELECT', edit_pack_path(pack: :expert), class: 'btn btn-orange18-orange' %>
          </div>
        </div>

        <p class="packs__additional-information text-center">
          <sup>*</sup>In a location of your choosing and we'll help increase its visibility on our platforms.
        </p>
      </div>
    <% end %>
  </div>
</div>
