<% content_for :expert_packs do %>
  <div class="packs">
    <div class="pack pack--centered">
      <div class="pack__head">
        Expert pack
      </div>

      <div class="pack__body">
        <div class="pack__description">
          &check;   Your logo on our Partners Page<br>
          &check;   Feature as an expert in the community<br>
          &check;   Your interview, published on all our Media<br>
          &check;   Share 1 Technical Content<br>
          &check;   Helping you organize one breakfast event<sup>*</sup><br>
          &check;   Free invites to all our Events
        </div>
      </div>

      <div class="pack__selector">
        <div class="pack__price">
          <strong>Launching Offer</strong><br>
          <strong>$<%= Pack.expert.price %> Yearly</strong> <del>$<%= Pack.expert.deleted_price %> Yearly</del>
        </div>
      </div>
    </div>

    <p class="packs__additional-information text-center">
      <sup>*</sup>In a location of your choosing and we'll help increase its visibility on our platforms.
    </p>
  </div>
<% end %>

<div id="signup_18">
  <div class="sign-up-header">
    Choose your package
  </div>

  <div class="container-fluid">
    <% if @professional_status == 'entrepreneur' %>
      <!--<h1 class="italic">It's difficult to grow alone!</h1>-->
      <h1 style="margin-bottom: 30px">Get support - Find Contacts - Meet in Real Life</h1>

      <p class="entrepreneur-offer visible-xs">
        Select a package & Apply to Join the Community
      </p>

      <p class="text-center" style="font-weight: bold">
        <!--Looking for a Specific Entrepreneur, CEO, Expert, Partner or Key account even Outside our Community?<br>-->
        With our Packages, you can Benefit from a Dedicated Team that Performs a Tailored Search of any Key Contacts you want, and introduces You to Them
      </p>

      <div class="packs">
        <div class="packs__list">
          <div class="pack">
            <div class="pack__head">
              Free Access
            </div>

            <div class="pack__body">
              <div class="pack__description">
                &check;   Browse the community<br>
                &check;   Access to all Free Content<br>
                &check;   3 Connection Requests per Month <br> within the Digital Platform<!--<sup>***</sup>--><br>
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  <strong>Free!</strong>
                </div>
                <div class="btn btn-orange18-orange" data-pack-selector="free_access" data-pack-amount="0">SELECT</div>
              </div>
            </div>
          </div>

          <div class="pack">
            <div class="pack__head">
              Premium
            </div>

            <div class="pack__body">
              <div class="pack__description">
                &check;   <strong>4 Credits for Tailored Contacts <br>found by our dedicated team</strong><sup>*</sup><br>
                &check;   Unlimited Connection Requests <br> within the Digital Platform<!--<sup>***</sup>--><br>
                &check;   Access to all our Content<br>
                &check;   Your interview published on our Media<br>
                &check;   Special Rates on our Learning Expeditions
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  <strong>Launching Offer</strong><br>
                  <strong>$<%= Pack.premium.price %> Yearly</strong> <del>$<%= Pack.premium.deleted_price %> Yearly</del>
                </div>
                <div class="btn btn-orange18-orange" data-pack-selector="premium" data-pack-amount="25000">SELECT</div>
              </div>
            </div>
          </div>

          <div class="pack">
            <div class="pack__head">
              Plus
            </div>

            <div class="pack__body">
              <div class="pack__description">
                &check;   <strong>4 Credits for Tailored Contacts <br>found by our dedicated team</strong><sup>*</sup><br>
                &check;   <strong>Free Invites to all our Events</strong><!--<sup>**</sup>--><br>
                &check;   Unlimited Connection Requests <br> within the Digital Platform<!--<sup>***</sup>--><br>
                &check;   Access to all our Content<br>
                &check;   Your interview published on our Media<br>
                &check;   Special Rates on our Learning Expeditions
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  <strong>Launching Offer</strong><br>
                  <strong>$<%= Pack.plus.price %> Yearly</strong> <del>$<%= Pack.plus.deleted_price %> Yearly</del>
                </div>
                <div class="btn btn-orange18-orange" data-pack-selector="plus" data-pack-amount="35000">SELECT</div>
              </div>
            </div>
          </div>
        </div>

        <p class="packs__additional-information">
          <sup>*</sup><!--Looking for a specific Entrepreneur or CEO to contact even outside the community? Don't have the time to browse the net? With your free Direct Request Credits, you can have us do a tailored search of any Key Partner you want, and put you in contact with them.<br>-->
          From our International Network of 30,000 CEO's; <br> Credit System: 1&nbsp;Entrepreneur&nbsp;=&nbsp;1&nbsp;Credit, 1&nbsp;Expert&nbsp;=&nbsp;2&nbsp;Credits, 1&nbsp;Key&nbsp;Account&nbsp;=&nbsp;4&nbsp;Credits<br>
          <br>
          <!--<sup>**</sup>25 events per year: networking events in the evening and breakfast events; all in Paris and France actually.<br>
          <br>
          <sup>***</sup>You can browse through our entire community of entrepreneurs to connect with anyone of them. After the other party has accepted your request, you will obtain each other's coordinates to start communicating.-->
        </p>
      </div>
    <% else %>
      <h1 class="italic">Our Entrepreneurs Need Your Expertise!</h1>
      <p class="local-partner-offer">
        Our offer allows you to <strong>Gain Visibility</strong> within our Community,<br>
        to <strong>provide our Business Founders all the support they require</strong> for their projects
      </p>

       <div class="visible-xs">
        <%= content_for :expert_packs %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8">

        <div class="sign-up-body">

          <%= link_to user_omniauth_authorize_path(:linkedin), class: "btn btn-primary btn-block" do %>
            <%= t("sign_up_with") %>
            <%= image_tag "LinkedIn-Logo-2C.png", size: "83x20" %>
          <% end %>

          <hr>

            <%= form_for resource, as: resource_name, url: user_registration_path(resource, professional_status: @professional_status) do |f| %>
              <%= hidden_field_tag :pack, @professional_status == 'entrepreneur' ? nil : :expert %>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <%= f.email_field :email, class: "form-control",
                    placeholder: :email.to_s.humanize,
                    required: true %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <%= f.password_field :password, class: "form-control",
                    placeholder: :password.to_s.humanize + " (6 characters minimum)",
                    required: true%>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <%= f.password_field :password_confirmation, class: "form-control",
                    placeholder: :password_confirmation.to_s.humanize,
                    required: true %>
                </div>
              </div>

              <div class="checkbox text-center" style="max-width: 300px;margin: 0 auto">
                <label>
                  <%= check_box(:user, :terms_of_service) %>
                  <label for="client_terms_of_service" class="approve-terms">
                    By applying to Beeleev, I hereby accept its <br>
                    <%= link_to "General Terms & Conditions", gtc_path, target: "_blank" %>.
                  </label>
                </label>
              </div>

              <br>

               <div class="checkbox text-center" style="max-width: 300px;margin: 0 auto">
                <label>
                  <%= check_box(:user, :data_use) %>
                  <label for="client_data_use" class="approve-terms">
                    By applying to Beeleev, I hereby accept that my personnal data can be used by Beeleev to provide its services.
                  </label>
                </label>
              </div>

              <br>

              <div class="text-center">
                <%= f.submit "APPLY NOW", disabled: :disabled, class: "btn btn-orange18-orange", id: "sign_up_btn_js_slider" %>
              </div>

            <% end %>

        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-pull-4">
        <div class="sign-up-left">
          <!--<div>
            <h2>To Grow your Business Internationally is a Challenge</h2><div class="bullets">
              <h3>Get Support - Find Contacts - Meet in Real Life</h3>
            </div>
          </div>

          <%#= render partial: "users/shared/world" %>
          <%#= render partial: "users/shared/kpis" %> -->

          <% if @professional_status == 'entrepreneur' %>
            <div class="sign-up-slogan">
              <p class="entrepreneur-offer hidden-xs">
                Select a package & Apply to Join the Community
              </p>
              <h5>
                GROW GLOBAL
                <br>
                <span>TOGETHER!</span>
              </h5>
              
 <!-- <div class="container">
      <div class="row text-center entrepreneurs-examples-wrapper">
      <div class="entrepreneurs-examples col-xs-12 col-md-4">
        <%= image_tag "18/rasmus.png" %>
        <p>
          Rasmus Arendt Nielsen, CEO of Brandheroes, <br/>has been put in contact with a Communication Agency  <br>
          in NYC to help him in his expansion strategy
        </p>
      </div>
      <div class="entrepreneurs-examples col-xs-12 col-md-4">
        <%= image_tag "18/esteban.png" %>
        <p>
          Esteban Sarabia, CEO of Q4tech,<br/>met 5 french entrepreneurs during his last business trip in Paris. These qualified connections allowed him to talk about his services and better understand how he should develop his company in France
        </p>
      </div>
    </div>
</div>-->  
            </div>
          <% else %>
            <div class="hidden-xs">
              <%= content_for :expert_packs %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<%= content_for :javascripts do %>
  <%= render "shared/linkedin" %>

  <script>
    $(function() {
      $('#user_country').select2({
        minimumInputLength: 3});
      $('#user_expertises').select2();
      $('#user_business_sectors').select2();
     });
  </script>
<% end %>
