<% content_for :expert_packs do %>
  <div class="packs">
    <div class="pack pack--centered">
      <div class="pack__head">
        Expert pack
      </div>

      <div class="pack__body">
        <div class="pack__description">
          Your logo on our Partners Page<br>
          Feature as an expert in the community<br>
          Your interview, published on all our Media<br>
          Share 1 Technical Content<br>
          Helping you organize one breakfast event<sup>*</sup><br>
          Free invites to all our Events
        </div>
      </div>

      <div class="pack__selector">
        <div class="pack__price">
          Launching offer<br>
          $599 Yearly <del>$719 Yearly</del>
        </div>
      </div>
    </div>

    <p class="packs__additional-information">
      <sup>*</sup>In a location of your choosing and we'll help increase its visibility on our plateforms.
    </p>
  </div>
<% end %>

<div id="signup_18">
  <div class="sign-up-header">
    Choose your package
  </div>

  <div class="container-fluid">
    <% if @professional_status == 'entrepreneur' %>
      <h1 class="italic">It's difficult to grow alone!</h1>
      <h2>Get support - Find Contacts - Meet in Real Life</h2>

      <p class="entrepreneur-offer visible-xs">
        Select a package & Apply to Join the Community
      </p>

      <div class="packs">
        <div class="packs__list">
          <div class="pack">
            <div class="pack__head">
              Free Access
            </div>

            <div class="pack__body">
              <div class="pack__description">
                Browse the community<br>
                Access to all Free Content<br>
                3 Connection Request per Month<br>
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  Free!
                </div>
                <div class="btn btn-orange18-orange" data-pack-selector="free_access" data-pack-amount="0">SELECT</div>
              </div>
            </div>
          </div>

          <div class="pack">
            <div class="pack__head">
              Premium
            </div>

            <div class="pack__body">
              <div class="pack__description">
                <strong>All free advantages, plus:</strong><br>
                Unlimited Connection Requests<sup>*</sup><br>
                Community Slack Membership<br>
                Access all our Content<br>
                Your interview published on our Media<br>
                4 Direct Request Credits<sup>**</sup><br>
                Special Rates on our Learning Expeditions
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  Launching Offer<br>
                  $299 Yearly <del>$359 Yearly</del>
                </div>
                <div class="btn btn-orange18-orange" data-pack-selector="premium" data-pack-amount="25000">SELECT</div>
              </div>
            </div>
          </div>

          <div class="pack">
            <div class="pack__head">
              Plus
            </div>

            <div class="pack__body">
              <div class="pack__description">
                <strong>All free advantages, plus:</strong><br>
                Unlimited Connection Requests<sup>*</sup><br>
                Community Slack Membership<br>
                Access all our Content<br>
                Your interview published on our Media*<br>
                4 Direct Request Credits**<br>
                Special Rates on our Learning Expeditions<br>
                Free Invites to all our Events<sup>***</sup>
              </div>

              <div class="pack__selector">
                <div class="pack__price">
                  Launching offer<br>
                  $359 Yearly <del>$479 Yearly</del>
                </div>
                <div class="btn btn-orange18-orange" data-pack-selector="plus" data-pack-amount="35000">SELECT</div>
              </div>
            </div>
          </div>
        </div>

        <p class="packs__additional-information">
          <sup>*</sup>You can browse through our entier community of entrepreneurs to connect with anyone of them. Afer the other party has accepted your request, you will obtain each other's cooridnates to start communicating<br>
          <br>
          <sup>**</sup>Looking for a specific Entrepreneur or CEO to contact? Don't have the time to browse the net? With you free Direct Request Credits, you can have us do a tailored search of any Key Partner you want, and put you in contact with them.<br>
          Credit System: 1&nbsp;Entrepreneur&nbsp;=&nbsp;1&nbsp;Credit, 1&nbsp;Expert&nbsp;=&nbsp;2&nbsp;Credits, 1&nbsp;Key&nbsp;Account&nbsp;=&nbsp;4&nbsp;Credits<br>
          <br>
          <sup>***</sup>25 events per year: 4 networking events in the eveningand 21 breakfast events; all in Paris and France actually.
        </p>
      </div>
    <% else %>
      <h1 class="italic">Our Entrepreneurs Need You Expertise!</h1>
      <p class="local-partner-offer">
        Our offer allows you to <strong>Gain Visibility</strong> within our Community,<br>
        to <strong>provide our Business Founders all the support they require</strong> for their projects
      </p>

       <div class="visible-xs">
        <%= content_for :expert_packs %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-push-8">

        <div class="sign-up-body">

          <%= link_to user_omniauth_authorize_path(:linkedin), class: "btn btn-primary btn-block" do %>
            <%= t("sign_up_with") %>
            <%= image_tag "LinkedIn-Logo-2C.png", size: "83x20" %>
          <% end %>

          <hr>

            <%= form_for resource, as: resource_name, url: user_registration_path(resource, professional_status: @professional_status) do |f| %>
              <%= hidden_field_tag :pack, @professional_status == 'entrepreneur' ? nil : :expert %>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">@</span>
                  <%= f.email_field :email, class: "form-control",
                    placeholder: :email.to_s.humanize,
                    required: true %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <%= f.password_field :password, class: "form-control",
                    placeholder: :password.to_s.humanize + " (6 characters minimum)",
                    required: true%>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                  <%= f.password_field :password_confirmation, class: "form-control",
                    placeholder: :password_confirmation.to_s.humanize,
                    required: true %>
                </div>
              </div>

              <div class="checkbox text-center">
                <label>
                  <%= check_box(:user, :terms_of_service) %>
                  <label for="client_terms_of_service" class="approve-terms">
                    By applying to Beeleev, I hereby accept its <br>
                    <%= link_to "General Terms & Conditions", gtc_path, target: "_blank" %>.
                  </label>
                </label>
              </div>

              <div class="text-center">
                <%= f.submit "APPLY NOW", disabled: :disabled, class: "btn btn-orange18-orange", id: "sign_up_btn_js_slider" %>
              </div>

            <% end %>

        </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-pull-4">
        <div class="sign-up-left">
          <!-- <div>
            <h2>To Grow your Business Internationally is a Challenge</h2><div class="bullets">
              <h3>Get Support - Find Contacts - Meet in Real Life</h3>
            </div>
          </div>

          <%#= render partial: "users/shared/world" %>
          <%#= render partial: "users/shared/kpis" %> -->

          <% if @professional_status == 'entrepreneur' %>
            <div class="sign-up-slogan">
              <p class="entrepreneur-offer hidden-xs">
                Select a package & Apply to Join the Community
              </p>

              <h5>
                GROW GLOBAL<br>
                <span>
                  WITH US!
                </span>
              </h5>
            </div>
          <% else %>
            <div class="hidden-xs">
              <%= content_for :expert_packs %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<%= content_for :javascripts do %>
  <%= render "shared/linkedin" %>

  <script>
    $(function() {
      $('#user_country').select2({
        minimumInputLength: 3});
      $('#user_expertises').select2();
      $('#user_business_sectors').select2();
     });
  </script>
<% end %>
